
@{
    ViewData["Title"] = "Accounts";
}

@model DigitalRegistry.Models.RootObject

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }

        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <img src="~/images/BANNER DIGITAL.jpg" alt="Nature" class="responsive">

    
    <br />
    <h1>Why Digital Registry</h1>
    <p>
        To help the public from being exploited by any unofficial source i.e. by scam or application or some any corrupt website, US government has published their Digital Registry which will disclose the legal and authorized applications on which citizens can trust on.
        All new accounts and the updation of previous account in the digital registry in being done by the federal managers appointed by the US government.
    </p>
    <p>
        All new accounts and the updation of previous account in the digital registry in being done by the federal managers appointed by the US government.
    </p>
    </div>
</body>
</html>

