

@{
    ViewData["Title"] = "Accounts";
}

@model DigitalRegistry.Models.TagsRoot

@{
    Layout = "_Layout";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }
    </style>
</head>
<body>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js">
        var PieChartData =  
            {  
                labels: [@Html.Raw(ViewBag.categories)],  
                datasets: [{  
                    label: 'Social Media Applications By Categories',  
                    backgroundColor: [  
                        "#3e95cd", "#8e5ea2", "#3cba9f", "#e8c3b9", "#c45850", "#95E75D", "#57A720", "#20A78A", "#8E12CD", "#03AEB4", "#1B03B4", "#CD5CF1", "#340842", "#B71DCC", "#CC1D35", "#0B4903", "#37E3DB", "#E74F11", "#0C5762", "#B263E2", "#1E2F98", "#A872BF", "#5B3136", "#878718", "#2DC3C3", "#171089","#310433"  
                    ],  
                    borderWidth: 2,  
                    data: [@ViewBag.socialmediaApps]
                }]  
            };  
  
            window.onload = function () {  
                var ctx1 = document.getElementById("Piecanvas").getContext("2d");  
                window.myBar = new Chart(ctx1,  
                    {  
                        type: 'pie',  
                        data: PieChartData,  
                        options:  
                            {  
                                title:  
                                {  
                                    display: true,  
                                    text: "ProductWise Sales Count"  
                                },  
                                responsive: true,  
                                maintainAspectRatio: true  
                            }  
                    });  
            }  </script>
    <canvas id="pie-chart" width="800" height="450"></canvas>
    <br />
    </div>
</body>
</html>


